*{
	padding:0;
	margin:0;
	text-decoration: none;
	life-style: none;
	box-sizing: border-box;
}
body {
	font-family: montserrat;
}
nav{
background: #0082e6; 
height: 80px;
width: 100%;
font-weight: bold;}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active, a:hover{
	background:#1b9bff;
	transition: .5s;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100 px;
}

h1{	color:green;
	font-sie:50px;
	text-align:center; }
h2{ 	color:#ff00ff;
	font-sie:30px;
	text-align:center; }
h3 {
	color: lightgreen;
	font-sie: 20px;
	text-align: left;
}
p{	color:rgba(139, 85, 14, 0.856);
	font-size:15px;
	width:300px }
.bluev{ color :blueviolet}
.highlight {
	font-size: 20px;
	background-color: #2cf04c;
		}
.divbox01{
	border: 5px outset blue;
	background-color: lightblue;
	text-align: center;
}
.divbox02 {
	border: 10px outset green;
	background-color: lightgreen;
	text-align: center;
}
.divbox03 {
	border: 0px;
	background-color: lightsalmon;
	text-align: center;
}
.divboxanyname {
	border: 0px;
	background-color: lightseagreen;
	text-align: center;
}
.grid-container {
	display: grid;
	column-gap:10px;
	grid-row-gap:5px;
	grid-template-columns: auto auto auto auto;
	background-color: #2196F3;
	padding: 10px;
	}
.grid-item {
	background-color: rgba(255, 255, 1, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
	}
.grid-item02 {
	background-color: rgba(214, 0, 0, 1);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}
	#MainPoint{
	font-size: 15px;
	font-weight: bold;
	background-color: #eeff00;
	}
img {
	max-width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
		}
